// ___________________________________________________________________
// Containers
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.input-group__container {
  @include rounded(15px);
  background-color: $bg-color-secondary;
  padding: 1.5rem;
}

.radio-input__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
