// ___________________________________________________________________
// Footer Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.attribution {
  @include text($text-XXS, $font-weight--bold, $very-dark-cyan);
  padding: 0.5rem 0;
  text-align: center;

  a {
    color: $very-dark-cyan;

    &:hover {
      color: $accent-color;
    }
  }
}
