// ___________________________________________________________________
// Header Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  padding-top: 3.125rem;

  @media #{$brkpoint-md} {
    margin-bottom: 2.5rem;
    padding-top: 5.5rem;
  }
}
