// ___________________________________________________________________
// Form Styles
// ___________________________________________________________________

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.form {
  @include rounded(25px);
  background-color: $bg-color-form;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  margin-inline: auto;
  max-width: 57.5rem;
  padding: 0 1.5rem 2rem 1.5rem;

  @media #{$brkpoint-md} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 3rem;
    padding: 2rem 2rem 2rem 3rem;
  }
}

// Label Font Styles
.input-group__bill,
.form__radio-title,
.input-group__people {
  @include text($text-XS, $font-weight--bold, $text-color-primary);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form__radio-title {
  margin-bottom: 0;
}

.input-group__bill {
  @media #{$brkpoint-md} {
    margin-bottom: 2.5rem;
  }
}

.input-group__people {
  @media #{$brkpoint-md} {
    margin-bottom: 1rem;
  }
}

.bill__total,
.tip__percent,
.number__people {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 6px;

  span:first-child {
    align-self: flex-start;
  }
// Error Message Layout (span:last-child)
  .form__error-message {
    align-self: flex-end;
    color: $error-color;
  }
}

.bill__total {
  padding-top: 2rem;

  @media #{$brkpoint-md} {
    padding-top: 0.8125rem;
  }
}

.tip__percent {
  margin-bottom: 1rem;
}

// Input Field Image Styles
#bill,
#people {
  background-repeat: no-repeat;
  background-position: 1rem;
}

#bill {
  background-image: url(images/icon-dollar.svg);
}

#people {
  background-image: url(images/icon-person.svg);
}

// Fieldset - Radio Buttons, Custom Input, Focus Styles
.form__radio-group {
  margin-bottom: 2rem;

  @media #{$brkpoint-md} {
    margin-bottom: 2.5rem;
  }
}

.radio-btn {
  flex: 1 1 45%;

  @media #{$brkpoint-md} {
    flex: 1 1 30%;
  }

  &:last-child {
    position: relative;
  }

  &:last-child label {
    background-color: $bg-color-tertiary;
    color: $text-color-secondary;
    z-index: 0;
  }

  label {
    @include rounded(5px);
    @include text($text-M, $font-weight--bold, $white);
    background-color: $bg-color-secondary;
    display: grid;
    grid-template-columns: auto;
    min-height: 3rem;
    place-items: center;
    position: relative;
  }
}

.form__input,
.radio-input__custom {
  @include text($text-M, $font-weight--bold, $bg-color-secondary);
  @include rounded(5px);
  background-color: $bg-color-tertiary;
  border: 2px solid transparent;
  cursor: pointer;
  padding: 4px 1rem 4px 0;
  text-align: right;
}

.form__input:focus,
.form__input:focus-within,
.radio-input__custom:focus,
.radio-input__custom:focus-within,
.form__input:hover,
.radio-input__custom:hover {
  border: 2px solid $accent-color;
  outline: transparent;
}

// Error for input field
.form__input.invalid,
.form__input.invalid:focus,
.form__input.invalid:focus-within,
.form__input.invalid:hover {
  border: 2px solid $error-color;
  outline: transparent;
}

.radio-input__custom {
  margin: 0;
  position: absolute;
  width: 100%;
  z-index: 1;

  &:hover {
    cursor: pointer;
    transition: 0.25s ease-in;
  }

  &::placeholder {
    color: $bg-color-secondary;
    opacity: 1;
  }
} 

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: $white;
  margin: 0;
  outline-style: none;

  &:checked + label {
    background-color: $accent-color;
    color: $bg-color-secondary;
  }

  &:checked + label.custom-tip {
    position: absolute;
  }

  &:focus + label,
  &:focus-within + label {
    outline: auto 2px Highlight;
    outline: auto 5px -webkit-focus-ring-color; 
  }

  &:hover + label {
    background-color: $btn-color-hover;
    color: $bg-color-secondary;
    cursor: pointer;
    transition: 0.25s ease-in;
  }
}

// Remove spin arrows - Chrome, Safari, Edge, Opera
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// Remove spin arrows - Firefox
input[type="number"] {
  -webkit-appearance: textfield;
  appearance: textfield;
}

// Tip Amount and Total Styles
.input-group__total-tip,
.input-group__total-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-group__total-tip {
  margin-bottom: 22px;
}

.input-group__total-amount {
  margin-bottom: 32px;

  @media #{$brkpoint-md} {
    margin-bottom: 7.625rem;
  }
}

.tip__amount,
.total__amount {
  @include text($text-XXS, $font-weight--bold, $text-color-tertiary);
  flex-basis: 40%;
  letter-spacing: -0.67px;
}

.tip__amount span,
.total__amount span {
  @include text($text-XS, $font-weight--bold, $white);
}

.form__input-total {
  @include text($text-L, $font-weight--bold, $accent-color);
  background-color: inherit;
  border: none;
  flex-basis: 60%;
  padding: 0;
  text-align: right;
  width: 50%;

  @media #{$brkpoint-md} {
    font-size: $text-XL;
    letter-spacing: -1px;
  }
}
